@import "tailwindcss";

@layer base {
  button {
    @apply px-5 h-8 rounded-md cursor-pointer text-sm;
  }
  ::selection {
    @apply bg-black text-white;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
